<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<h:outputStylesheet
		library="artefatos"
		name="estilo.css" />
</h:head>
<h:body>
	
	<!-- Logo -->
	<header>
		<h:graphicImage library="artefatos" name="logo.png" id="logo"/>
	</header>
 	
	<!-- Conteudo da pagina -->
	<div id="conteudo">
		<ui:insert name="corpo" />
	</div>

	<!-- Rodapé da pagina -->
	<footer>
		Controle de Funcionários do Projeto Montreal/IEC.
	</footer>

</h:body>
</html>