<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<meta
		http-equiv="Content-Type"
		content="text/html; charset=UTF-8" />
	<title><ui:insert name="titulo">Sistema Controle de funcionários</ui:insert></title>
	<h:outputStylesheet
		library="css"
		name="sistema.css" />

	<h:outputStylesheet
		library="font-awesome"
		name="css/font-awesome.min.css" />
</h:head>

<h:body>
	<p:ajaxStatus styleClass="ajax-status">
		<f:facet name="start">
			<h:graphicImage
				library="imagens"
				name="carregando.gif" />
		</f:facet>
		<f:facet name="complete">
			<h:outputText value="" />
		</f:facet>
	</p:ajaxStatus>

	<header>
	<div style="float: left">
		<h:link outcome="/Home">
			<h:graphicImage
				id="logo"
				library="imagens"
				name="logo.png" />
		</h:link>
		<span><h:outputText
				style="margin-left:10px; font-size: 15px;"
				value="" /></span>
	</div>

	<div style="float: right; margin-right: 110px">
		<h:form style="display: inline-block">
			<p:menubar styleClass="menu-sistema">
				<p:menuitem
					value="Quadro"
					outcome="/publico/LocalizacaoFuncionarios.xhtml" />
				<p:menuitem
					value="Funcionários"
					outcome="/admin/interno/Funcionarios.xhtml" />

				<p:submenu label="Cadastro">
					<p:menuitem
						value="Equipe"
						outcome="/admin/cadastro/Equipe.xhtml" />
					<p:menuitem
						value="Localização"
						outcome="/admin/cadastro/Localizacao.xhtml" />
					<p:menuitem
						value="Motivos de Inconformidaes"
						outcome="/admin/cadastro/Motivo.xhtml" />
				</p:submenu>

				<p:submenu label="Links Úteis">

					<p:menuitem
						value="Otrs"
						target="_blank"
						url="http://otrsmi.iec.gov.br/otrs/index.pl" />

					<p:menuitem
						value="Otrs Treina"
						target="_blank"
						url="http://otrstreina.iec.gov.br/otrs/index.pl" />
				</p:submenu>

			</p:menubar>
		</h:form>
	</div>
	<div style="clear: both"></div>
	</header>

	<div id="conteudo">
		<ui:insert name="corpo" />
	</div>

	<footer>
	<p>Controle de Funcionários do Projeto Montreal/IEC</p>
	</footer>


	<h:form>
		<p:confirmDialog global="true">
			<p:commandButton
				value="Não"
				type="button"
				styleClass="ui-confirmdialog-no"
				icon="ui-icon-close" />

			<p:commandButton
				value="Sim"
				type="button"
				styleClass="ui-confirmdialog-yes"
				icon="ui-icon-check" />
		</p:confirmDialog>
	</h:form>
</h:body>

</html>