<ui:composition
	template="/WEB-INF/templates/LayoutPadrao.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="titulo">Quado de Localização</ui:define>

	<ui:define name="corpo">

		<f:metadata>
			<f:viewAction action="#{usuarioMB.inicializar}" />
			<f:viewAction action="#{motivoMB.inicializar}" />
			<f:viewAction action="#{cargoMB.inicializar}" />
			<f:viewAction action="#{localizacaoMB.inicializar}" />
			
			<f:viewParam name="codigo" value="#{usuarioMB.usuarioSelecionado}" converter="conversorGenericoJSF"/>
		</f:metadata>

		<p:panel
			id="panel-titulo"
			header="Sistema Interno Infomática"
			style="margin-bottom:10px; ">

			<h:form id="frm-tabela">

				<p:growl id="growl-global" />

				<p:dataTable
					var="usuario"
					id="tabela-localizacao"
					widgetVar="localizacaoWidget"
					value="#{usuarioMB.todosCongosPeloUsuario}"
					emptyMessage="Nenhum funcionário encontrado."
					style="margin-top: 10px;width:70%;margin-left: 15%">

					<p:ajax
						event="rowSelect"
						update="@this" />
					<p:ajax
						event="rowUnselect"
						update="@this" />

					<f:facet name="header">
						Quadro de Localização
					</f:facet>

					<p:column
						headerText="Nome"
						width="240"
						sortBy="#{usuario.nome}">
						<h:outputText value="#{usuario.nome}" />
					</p:column>

					<p:column
						headerText="Localização"
						width="70"
						sortBy="#{usuario.localizacao.localizacaoPai.nome}">
						<h:outputText value="#{usuario.localizacao.localizacaoPai.nome}" />
					</p:column>

					<p:column
						headerText="Departamento"
						width="80"
						sortBy="#{usuario.localizacao.nome}">

						<h:outputText value="#{usuario.localizacao.nome}" />
					</p:column>
					<p:column
						headerText="Rádio"
						width="40"
						sortBy="#{usuario.radio}">
						<h:outputText value="#{usuario.radio ? 'Sim' : 'Não'}" />
					</p:column>

					<p:column
						headerText="Inconformidades"
						width="105">
						<h:outputText value="#{usuario.quantidadeTotal}" />
					</p:column>

				</p:dataTable>
		</h:form>
		</p:panel>

	</ui:define>


</ui:composition>