<ui:composition
	template="/WEB-INF/templates/LayoutPadrao.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="titulo">Cadastro - Cargo</ui:define>

	<ui:define name="corpo">

		<f:metadata>
			<f:viewAction action="#{cargoMB.inicializar}" />
		</f:metadata>

		<h:form id="frm-tabela-cargo">

			<p:panel
				id="panel-cagos"
				header="Equipes"
				style="margin-bottom:10px;margin-left:9%; width:80%">

				<f:facet name="actions">
					<p:commandButton
						icon="fa fa-pencil-square-o"
						process="@this"
						update="dialog-cargo"
						oncomplete="PF('novoCargoDialog').show()"
						disabled="#{cargoMB.cargoSelecionado == null}"
						title="Editar">

						<p:resetInput target="dialog-cargo" />

						<f:setPropertyActionListener
							value="#{cargoMB.cargoSelecionado}"
							target="#{cargoMB.cargoEdicao}" />
					</p:commandButton>

					<p:commandButton
						icon="fa fa-trash"
						process="@this"
						update=" growl-global tabela-cargo"
						action="#{cargoMB.excluir}"
						disabled="#{cargoMB.cargoSelecionado == null}"
						title="Excluir"
						style="margin-right:2%">
						<p:confirm
							icon="ui-icon-alert"
							header="Confirmação de exclusão"
							message="Tem certeza que deseja excluir o funcionário?" />
					</p:commandButton>

					<p:commandButton
						value="Novo"
						icon="fa fa-file-text"
						action="#{cargoMB.limpar}"
						process="@this"
						update="dialog-cargo"
						oncomplete="PF('novoCargoDialog').show()">
						<p:resetInput target="dialog-cargo" />
					</p:commandButton>
				</f:facet>

				<p:growl id="growl-global" />

				<p:dataTable
					var="cargo"
					id="tabela-cargo"
					widgetVar="tabelaCargoWidget"
					value="#{cargoMB.todosCargos}"
					selectionMode="single"
					selection="#{cargoMB.cargoSelecionado}"
					rowKey="#{cargo.codigo}"
					emptyMessage="Nenhum funcionário encontrado."
					style="margin-top: 10px;margin-bottom: 2.5%;width:70%;margin-left: 15%">

					<p:ajax
						event="rowSelect"
						update="@form" />
					<p:ajax
						event="rowUnselect"
						update="@form" />

					<p:column
						headerText="Nome"
						width="240"
						sortBy="#{cargo.nome}">
						<h:outputText value="#{cargo.nome}" />
					</p:column>
				</p:dataTable>

				<!-- DIALOGO CARGO -->
				<p:dialog
					id="dialog-cargo"
					widgetVar="novoCargoDialog"
					closeOnEscape="true"
					modal="true"
					resizable="false"
					draggable="false"
					header="Cargo">

					<p:messages id="message-cargo" />

					<p:panelGrid
						id="painel-cargo"
						columns="2">

						<p:outputLabel
							value="Cargo"
							for="cargo" />

						<p:inputText
							id="cargo"
							value="#{cargoMB.cargoEdicao.nome}" />

						<p:commandButton
							value="Salvar"
							id="salvar-cargo-button"
							action="#{cargoMB.salvar}"
							process="dialog-cargo"
							update="message-cargo"
							oncomplete="if (!args.validationFailed) PF('novoCargoDialog').hide()" />

					</p:panelGrid>
				</p:dialog>
			</p:panel>
		</h:form>

	</ui:define>

</ui:composition>