<ui:composition
	template="/WEB-INF/templates/LayoutPadrao.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="titulo">Cadastro - Localização</ui:define>

	<ui:define name="corpo">

		<f:metadata>
			<f:viewAction action="#{localizacaoMB.inicializar}" />

		</f:metadata>

		<h:form id="frm-tabela-localizacao">

			<p:panel
				id="panel-cagos"
				header="Localizações"
				style="margin-bottom:10px;margin-left:9%; width:80%">

				<f:facet name="actions">
					<p:commandButton
						icon="fa fa-pencil-square-o"
						process="@this"
						update="dialog-localizacao"
						oncomplete="PF('novaLocalizacaoDialog').show()"
						disabled="#{localizacaoMB.localizacaoSelecionada == null}"
						title="Editar">

						<p:resetInput target="dialog-localizacao" />

						<f:setPropertyActionListener
							value="#{localizacaoMB.localizacaoSelecionada}"
							target="#{localizacaoMB.localizacaoEdicao}" />
					</p:commandButton>

					<p:commandButton
						icon="fa fa-trash"
						process="@this"
						update=" frm-tabela-localizacao:growl-localizacao tabela-localizacao"
						action="#{localizacaoMB.excluir}"
						disabled="#{localizacaoMB.localizacaoSelecionada == null}"
						title="Excluir"
						style="margin-right:2%">
						<p:confirm
							icon="ui-icon-alert"
							header="Confirmação de exclusão"
							message="Tem certeza que deseja excluir o funcionário?" />
					</p:commandButton>

					<p:commandButton
						value="Nova"
						icon="fa fa-file-text"
						action="#{localizacaoMB.limpar}"
						process="@this"
						update="dialog-localizacao"
						oncomplete="PF('novaLocalizacaoDialog').show()">
						<p:resetInput target="dialog-localizacao" />
					</p:commandButton>
				</f:facet>

				<p:growl id="growl-localizacao" />

				<p:dataTable
					var="localizacao"
					id="tabela-localizacao"
					widgetVar="tabelaLocalizacaoWidget"
					value="#{localizacaoMB.todasLocalizacoesFilhas}"
					selectionMode="single"
					selection="#{localizacaoMB.localizacaoSelecionada}"
					rowKey="#{localizacao.codigo}"
					emptyMessage="Nenhum funcionário encontrado."
					style="margin-top: 10px;margin-bottom: 2.5%;width:70%;margin-left: 15%">

					<p:ajax
						event="rowSelect"
						update="@form" />
					<p:ajax
						event="rowUnselect"
						update="@form" />

					<p:column
						headerText="Seção"
						sortBy="#{localizacao.nome}"
						width="240">
						<h:outputText value="#{localizacao.nome}" />
					</p:column>

					<p:column
						headerText="Site"
						sortBy="#{localizacao.localizacaoPai.nome}"
						width="240">
						<h:outputText value="#{localizacao.localizacaoPai.nome}" />
					</p:column>

				</p:dataTable>

				<!-- DIALOGO LOCALIZACAO -->
				<p:dialog
					id="dialog-localizacao"
					widgetVar="novaLocalizacaoDialog"
					closeOnEscape="true"
					modal="true"
					resizable="false"
					draggable="false"
					header="Localização">

					<p:messages id="message-localizacao" />

					<p:panelGrid
						id="painel-localizacao"
						columns="2">

						<p:outputLabel
							value="Seção"
							for="secao" />

						<p:inputText
							id="secao"
							value="#{localizacaoMB.localizacaoEdicao.nome}" />

						<p:outputLabel
							value="Site"
							for="localizacaoPai" />

						<p:selectOneMenu
							id="localizacaoPai"
							converter="conversorGenericoJSF"
							value="#{localizacaoMB.localizacaoEdicao.localizacaoPai}">
							<f:selectItem itemLabel="Selecione" />
							<f:selectItems
								value="#{localizacaoMB.todasLocalizacoesPais}"
								var="localizacaoPai"
								itemLabel="#{localizacaoPai.nome}"
								itemValue="#{localizacaoPai}" />

						</p:selectOneMenu>

						<p:commandButton
							value="Salvar"
							id="salvar-localizacao-button"
							action="#{localizacaoMB.salvar}"
							process="dialog-localizacao"
							update="message-localizacao"
							oncomplete="if (!args.validationFailed) PF('novaLocalizacaoDialog').hide()" />

					</p:panelGrid>
				</p:dialog>
			</p:panel>
		</h:form>

	</ui:define>

</ui:composition>