<ui:composition
	template="/WEB-INF/templates/LayoutPadrao.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="titulo">Cadastro - Motivo</ui:define>

	<ui:define name="corpo">

		<f:metadata>
			<f:viewAction action="#{motivoMB.inicializar}" />
		</f:metadata>

		<h:form id="frm-tabela-motivo">

			<p:panel
				id="panel-motivos"
				header="Motivos"
				style="margin-bottom:10px;margin-left:9%; width:80%">

				<f:facet name="actions">
					<p:commandButton
						icon="fa fa-pencil-square-o"
						process="@this"
						update="dialog-motivo"
						oncomplete="PF('novoMotivoDialog').show()"
						disabled="#{motivoMB.motivoSelecionado == null}"
						title="Editar">

						<p:resetInput target="dialog-motivo" />

						<f:setPropertyActionListener
							value="#{motivoMB.motivoSelecionado}"
							target="#{motivoMB.motivoEdicao}" />
					</p:commandButton>

					<p:commandButton
						icon="fa fa-trash"
						process="@this"
						update=" growl-global tabela-motivo"
						action="#{motivoMB.excluir}"
						disabled="#{motivoMB.motivoSelecionado == null}"
						title="Excluir"
						style="margin-right:2%">
						<p:confirm
							icon="ui-icon-alert"
							header="Confirmação de exclusão"
							message="Tem certeza que deseja excluir o Motivo?" />
					</p:commandButton>

					<p:commandButton
						value="Novo"
						icon="fa fa-file-text"
						action="#{motivoMB.limpar}"
						process="@this"
						update="dialog-motivo"
						oncomplete="PF('novoMotivoDialog').show()">
						<p:resetInput target="dialog-motivo" />
					</p:commandButton>
				</f:facet>

				<p:growl id="growl-global" />

				<p:dataTable
					var="motivo"
					id="tabela-motivo"
					widgetVar="tabelaMotivoWidget"
					value="#{motivoMB.todosMotivos}"
					selectionMode="single"
					selection="#{motivoMB.motivoSelecionado}"
					rowKey="#{motivo.codigo}"
					emptyMessage="Nenhum funcionário encontrado."
					style="margin-top: 10px;margin-bottom: 2.5%;width:70%;margin-left: 15%">

					<p:ajax
						event="rowSelect"
						update="@form" />
					<p:ajax
						event="rowUnselect"
						update="@form" />

					<p:column headerText="Motivo">
						<h:outputText value="#{motivo.motivo}" />
					</p:column>
					<p:column headerText="Tipo">
						<h:outputText value="#{motivo.tipoCongo.nome}" />
					</p:column>
				</p:dataTable>

				<!-- DIALOGO CARGO -->
				<p:dialog
					id="dialog-motivo"
					widgetVar="novoMotivoDialog"
					closeOnEscape="true"
					modal="true"
					resizable="false"
					draggable="false"
					header="Motivo">

					<p:messages id="message-motivo" />

					<p:panelGrid
						id="painel-motivo"
						columns="2">

						<p:outputLabel
							value="Categoria"
							for="categoria" />

						<p:selectOneMenu
							id="categoria"
							value="#{motivoMB.motivoEdicao.tipoCongo}"
							converter="conversorGenericoJSF">
							<f:selectItem itemLabel="Selecione" />
							<f:selectItems
								value="#{motivoMB.tiposCongos}"
								var="tipo"
								itemLabel="#{tipo.nome}"
								itemValue="#{tipo}" />
						</p:selectOneMenu>

						<p:outputLabel
							value="Motivo"
							for="motivo" />
						<p:inputText
							id="motivo"
							value="#{motivoMB.motivoEdicao.motivo}" />

						<p:commandButton
							value="Salvar"
							action="#{motivoMB.salvar}"
							process="dialog-motivo"
							update="message-motivo"
							oncomplete="if (!args.validationFailed) PF('novoMotivoDialog').hide()" />

					</p:panelGrid>
				</p:dialog>
			</p:panel>
		</h:form>

	</ui:define>

</ui:composition>