<ui:composition
	template="/WEB-INF/templates/LayoutPadrao.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:o="http://omnifaces.org/ui">

	<ui:define name="titulo">Funcionários</ui:define>

	<ui:define name="corpo">

		<f:metadata>
			<f:viewAction action="#{usuarioMB.inicializar}" />
			<f:viewAction action="#{cargoMB.inicializar}" />
			<f:viewAction action="#{localizacaoMB.inicializar}" />
		</f:metadata>

		<h:form id="frm-tabela">
			<p:toolbar
				style="margin:20px 0px"
				id="toolbar">

				<f:facet name="left">

					<p:commandButton
						icon="fa fa-file-text"
						id="novo-funcionario-button"
						value="Novo Funcionário"
						process="@this"
						update=":frm-dialog"
						action="#{usuarioMB.limpar}"
						oncomplete="PF('novoFuncionarioDialog').show()">
						<p:resetInput target=":frm-dialog:dialog-funcionario" />
					</p:commandButton>

					<span class="ui-separator"> <span
						class="ui-icon ui-icon-grip-dotted-vertical" />
					</span>

					<p:commandButton
						icon="fa fa-pencil-square-o"
						process="@this"
						update=":frm-dialog"
						oncomplete="PF('novoFuncionarioDialog').show()"
						disabled="#{usuarioMB.usuarioSelecionado == null}"
						title="Editar">

						<p:resetInput target=":frm-dialog:dialog-funcionario" />

						<f:setPropertyActionListener
							value="#{usuarioMB.usuarioSelecionado}"
							target="#{usuarioMB.usuarioEdicao}" />
					</p:commandButton>

					<p:commandButton
						icon="fa fa-trash"
						process="@this"
						update="toolbar growl-global tabela-usuario"
						action="#{usuarioMB.excluir}"
						disabled="#{usuarioMB.usuarioSelecionado == null}"
						title="Excluir">
						<p:confirm
							icon="ui-icon-alert"
							header="Confirmação de exclusão"
							message="Tem certeza que deseja excluir o funcionário?" />
					</p:commandButton>

					<p:commandButton
						icon="fa fa-download"
						title="Exportar para  XLS" />
				</f:facet>

			</p:toolbar>

			<p:growl id="growl-global" />

			<p:dataTable
				styleClass="table-personalizada"
				var="usuario"
				id="tabela-usuario"
				value="#{usuarioMB.todosUsuarios}"
				selection="#{usuarioMB.usuarioSelecionado}"
				selectionMode="single"
				rowKey="#{usuario.codigo}"
				emptyMessage="Nenhum funcionário encontrado.">

				<p:ajax
					event="rowSelect"
					update=":frm-tabela:toolbar" />
				<p:ajax
					event="rowUnselect"
					update=":frm-tabela:toolbar" />

				<p:column
					headerText="Nome"
					sortBy="#{usuario.nome}"
					width="450">
					<p:outputLabel value="#{usuario.nome}" />
				</p:column>

				<p:column headerText="Username">
					<p:outputLabel value="#{usuario.username}" />
				</p:column>

				<p:column
					headerText="Equipe"
					sortBy="#{usuario.cargo.nome}">
					<p:outputLabel value="#{usuario.cargo.nome}" />
				</p:column>

				<p:column
					headerText="Perfil"
					sortBy="#{usuario.administrador}">
					<p:outputLabel
						value="#{usuario.administrador ? 'Administrador' : 'Funcionário'}" />
				</p:column>
			</p:dataTable>
		</h:form>

		<h:form id="frm-dialog">

			<!-- DIALOGO FUNCIONARIO-->

			<p:dialog
				id="dialog-funcionario"
				widgetVar="novoFuncionarioDialog"
				closeOnEscape="true"
				modal="true"
				resizable="false"
				draggable="false"
				header="Funcionário">

				<p:messages id="message-funcionario" />

				<p:panelGrid
					id="painel-funcionario"
					columns="2">

					<p:outputLabel
						value="Nome"
						for="nome" />
					<p:inputText
						id="nome"
						value="#{usuarioMB.usuarioEdicao.nome}" />

					<p:outputLabel
						value="Username"
						for="username" />
					<p:inputText
						id="username"
						value="#{usuarioMB.usuarioEdicao.username}" />

					<p:outputLabel
						value="Senha"
						for="senha" />
					<p:password
						id="senha"
						goodLabel="Boa"
						weakLabel="Fraca"
						strongLabel="Forte"
						value="#{usuarioMB.usuarioEdicao.senha}" />

					<p:outputLabel
						value="Localização"
						for="localizacao" />

					<p:selectOneMenu
						id="localizacao"
						converter="conversorGenericoJSF"
						value="#{usuarioMB.localizacaoEdicao}">
						<f:selectItem
							itemLabel="Selecione" noSelectionOption="true"/>
						<f:selectItems
							var="localizacao"
							value="#{localizacaoMB.todasLocalizacoesPais}"
							itemLabel="#{localizacao.nome}"
							itemValue="#{localizacao}" />

						<p:ajax
							listener="#{usuarioMB.buscarLocalizacaoPeloPai}"
							update="select-locallizacao-filha" />
					</p:selectOneMenu>

					<p:outputLabel
						value="Departamento"
						for="departamento" />

					<h:panelGroup id="select-locallizacao-filha">
						<p:selectOneMenu
							id="departamento"
							converter="conversorGenericoJSF"
							disabled="#{usuarioMB.localizacaoEdicao == null}"
							value="#{usuarioMB.usuarioEdicao.localizacao}">
							<f:selectItem
							itemLabel="Selecione" noSelectionOption="true"/>
							<f:selectItems
								var="departamento"
								value="#{usuarioMB.todasLocalizacoesPeloPai}"
								itemLabel="#{departamento.nome}"
								itemValue="#{departamento}" />
						</p:selectOneMenu>

					</h:panelGroup>


					<p:outputLabel
						value="Equipe"
						for="cargo" />

					<p:selectOneMenu
						id="cargo"
						converter="conversorGenericoJSF"
						value="#{usuarioMB.usuarioEdicao.cargo}">
						<f:selectItem itemLabel="Selecione" />
						<f:selectItems
							var="cargo"
							value="#{cargoMB.todosCargos}"
							itemLabel="#{cargo.nome}"
							itemValue="#{cargo}" />
					</p:selectOneMenu>

					<p:outputLabel value="Perfil" />
					<p:selectBooleanCheckbox
						value="#{usuarioMB.usuarioEdicao.administrador}"
						itemLabel="Administrador" />

					<p:outputLabel />
					<p:commandButton
						value="Salvar"
						id="salvar-funcionario-button"
						action="#{usuarioMB.salvar}"
						update="message-funcionario"
						process=":frm-dialog:dialog-funcionario"
						oncomplete="if (!args.validationFailed) PF('novoFuncionarioDialog').hide()" />
				</p:panelGrid>
			</p:dialog>

		</h:form>
	</ui:define>
</ui:composition>